.bienvenida {
    background-color: #18181b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.saludo {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.quien-soy {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

.quien-soy span {
    font-size: 25px;
    color: #7f3fe0;
}

.descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    padding: 0 1rem;
}

.btn-inicio a {
    text-decoration: none;
    color: #fff;
}

.btn-inicio {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #7f3fe0;
    width: 200px;
    height: 60px;
    border-radius: 80px;
    border: none;
    transition: .5s;
}

.btn-inicio:hover {
    background-color: #6933b9;
}